   .breathing-head2{
    margin-left: 250px;
   }
   .breathing-head2>span{
    font-size: 1.7rem;
    color:white;
    font-family: 'Be Vietnam';
    text-align:center;
    font-weight: lighter;
    width: max-content;
    margin-left: +90px;
   }
  .breathing-head{
    margin-top: -50px;
    margin-left: 250px;
  }
  .breathing-head>h3
  {
    font-size: 1.7rem;
    color:white;
    font-family: 'Be Vietnam';
    text-align:center;
    font-weight: lighter;
    width: max-content;
    margin-left: +90px;
  }

.breathing-full {
    background-color: #094838;
    height:92vh;
    width:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }
  .zoom-in-out-box2 {
    margin: 0px;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.19);
    position: relative;
    margin-left: 22%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .zoom-in-out-box {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.19);
    animation-name: zoom-in-zoom-out;
    animation-duration: 20s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -37.5px 0px 0px -37.5px;
    animation-delay: 3s;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(4.4, 4.4);
    }
    50%
    {
      transform: scale(4.4, 4.4);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .breathing-head2>span::before {
    content: "Get ready. Focus on your breathing";
    animation: animate 40s linear infinite;
    padding-left: 10px;
    animation-delay: 3s;
}

@keyframes animate {
    0% {
        content: "Breathe in";
    }
    25% {
      content: "Hold";
    }
    26% {
        content: "Breathe out";
    }
    50% {
      content: "Hold";
    }
    51% {
      content: "Breathe In";   
    }
    75%
    {
      content: "Hold";
    }
    76%
    {
      content: "Breathe Out";
    }
    100%
    {
      content: "Hold";   
    }
}